* {
    /* font-family: 'Archivo Black'; */
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Helvetica neue', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}
.html {
    scroll-behavior: smooth;
}
.body {
    flex-direction: column;
    background-color: #f1f1f1;
    
}
.fade-in {
    opacity: 0; /* Initially invisible */
    animation: fadeIn 0.4s ease-in-out forwards; /* Animation properties */
}
@keyframes fadeIn {
    from {
      opacity: 0; /* Start from invisible */
    }
    to {
      opacity: 1; /* End at fully visible */
    }
  }

a {
    text-decoration: none;
}


.et-hero-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 10;
    /* box-shadow: 0 4px 2px -2px rgb(0, 0, 0); */
    background-color: #fff;
}

.et-hero-tab img {
    height: 80%;
    width: auto;
}
.et-hero-tabs-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 70px;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
    background-color: transparent;

}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    background-color: #fff;

    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    z-index: 999;
    /* border-radius: 50px; */
    transition: 0.5s;
}
/* .et-hero-tab:hover {
    transition: ease-in-out 0.2s;
    /* background-color: #000;
    color: #fff; 
    filter: invert(1);
} */


#fino {
    font-size: 3rem;
    font-weight: 200;
    overflow-y: hidden;
}
.placeholder {
    height: 100px;
    width: 100%;
}
.fino-images {
    text-align: center;
    /* box-shadow: 0 4px 2px -2px rgb(0, 0, 0); */
    background-color: #f1f1f1;
}
.fino-images >*{
    transform: translateY(0px);
    transition: transform 0.6s;
}
.fino-images:hover > *{
    transform: translateY(-10px);
}
.fino-images img {
    height: 120px;
    width: 120px;
    margin: 4em;
}
.promo-video {
    padding: 25px;
    height: 500px;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
}


.Title {
    height: 150px;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    overflow-y: hidden;
}
.Title h1 {
    margin: 50px;
    letter-spacing: 0.1rem;
    font-size: 4vw;
}
.Title p {
    margin: 20px;
    letter-spacing: 0.1rem;
    font-size: 1.5vw;
}

.catalog {
    width: 100%;
    height: auto;
    display: flex;
    overflow-y: hidden;
    text-align: center;
}
#row2 {
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;

    text-align: center;
    align-items: center;
}
.clothing-box {
    width: calc(100%/2);
    height: 100%;
    padding: 10px;
}
.clothing-image {
    width: 70%;
    height: 60%;
    z-index: -4;
}
.Arrival-Title {
    z-index: -1;
    text-align: center;
    background-color: #f1f1f1;
    position: absolute;
    margin: 2%;
    width: 45%;
    height: 100%;

}
.Arrival-Title h1 {
    margin-top: 45%;
}
.Arrival-Title:hover {
    background-color: transparent;
    transition: ease-in 0.5s;
}

.story {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #f1f1f1;
    padding: 30px;
    .story-paragraph {
        margin-left: 20%;
        text-align: center;
        width: 60%;
        height: 100%;
        line-height: 50px;
        .story-header h1 {
            letter-spacing: 0.2rem;
        }
    }
    /* .story-image {
        width: 30%;
        height: 100%;
    } */
    .story-header p {
        margin-top: 5px 0px;
    }
    .story-header img {
        height: 30%;
        width: 30%;
    }
}


.wrapper {
    z-index: 0;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 5%;
    height: 100%;
    overflow-y: hidden;
}
.image {
    width: 100%;
    height: 100%;
    position: relative;
}
.image img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    overflow-y: hidden;
}
.clothing-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}
.clothing-content h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}
.clothing-content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.clothing-content:hover > *{
    transform: translateY(0px);
}
.clothing-content:hover {
    transition: ease-in 0.5s;
    opacity: 1;
}
.homepage-wrapper {
    z-index: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
    height: 40%;
    overflow-y: hidden;
}
.homepage-wrapper-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}
.homepage-wrapper-image img {
    width: 100%;
    display: block;
    margin: auto;
}
.homepage-wrapper-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}
.homepage-wrapper-content h1 {
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
}
.homepage-wrapper-content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.homepage-wrapper-content:hover > *{
    transform: translateY(0px);
}
.homepage-wrapper-content:hover {
    transition: ease-in 0.5s;
    opacity: 1;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;

}
.box {
    display: flex;
    width: 100%;

}
.column {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 0 20px;
    width: 32.5%;
}
.column img {
    margin-bottom: 15px;
    height: auto;
}
.column img:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-2px);
    cursor: pointer;
}

.footer {
    position:absolute;
    bottom: 0;
    overflow-y: hidden;
    text-align: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;

}
.footer-header {
    font-size: 20px;
}
.footer p {
    font-size: 10px;
}
.fa {
    text-decoration: none;
    color: black;
}
.fa:hover {
    opacity: 0.7;

}
main {
    padding: 20px;
}
  
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 50%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 20%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #2c2e2c;
  }
  
  /* Add a background color and some padding around the form */
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  .container1 p{
    margin-bottom: 10px;
  }

/* MOBIILE MENU */
.ham {

}


.off-screen-menu {
    padding-top: 60px;
    background-color: #f1f1f1;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    z-index: 10;
}
#mobile {
    margin-bottom: 10px;
    width: 50%;
    margin-left: 25%;
    font-size: 1.5rem;
}
.off-screen-menu.active {
    left: 0;
}
.nav {
    padding: 20px;
    display: flex;
    background-color: #f1f1f1;
    z-index: 1000;

}
.ham-menu {
    height: 50px;
    width: 50px;
    position: fixed;
    left: 1%;
    top: 1.5%;
    z-index: 999;
}
.ham-menu span {
    height: 5px;
    width: 80%;
    background-color: #000;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    z-index: 999;

}
.ham-menu span:nth-child(1) {
    top: 25%;
    z-index: 999;

}
.ham-menu span:nth-child(2) {
    top: 75%;
    z-index: 999;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 999;

}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 999;
}



@media (max-width: 920px) {
    .fino-images img{
        width: 20%;
        height: 20%;
        margin: 0;
    }
    /* .et-hero-tabs-container{
        display: flex;
        flex-direction: column;
        .et-hero-tab {
            font-size: 10px;
            margin-top: 3px;
        }
    } */

    .mobile-menu-navbar {
        display: block;
        width: 60%;
        background-color: #f1f1f1;
        padding: 20px;
        height: 100vh;
    }
    .ham {
        display: block;
    }
    .et-hero-tab {
        display: none;
    }
    #mobile {
        display: block;
    }
    #fino {
        display: block;
    }
    .mobile-menu {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15%;
        left: 5%;
    }
    .catalog {
        flex-direction: column;
        .wrapper {
            width: 100%;
        }
    }
}
/* SEARCH BAR */
.search-container {
    display: flex;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #000000;
}

.search-button {
    padding: 10px 15px;
    border: 2px solid #007BFF;
    border-left: none; /* Remove left border to connect with input */
    border-radius: 0 5px 5px 0;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}
/* CLOSED WEBSITE */
.closing {
    width: 100%;
    height: 550px;
    text-align: center;

}
.closed {
    padding: 100px;
    height: 200px;
}
.poem {
    margin-left: 15%;
    width: 70%;
    line-height: 50px;
    color: #716d6d;
}
#closing-image {
    margin-top: 30px;
    width: 70px;
    height: auto;
}